<div class="col-sm-3">
	<div class="left-sidebar">
		<h2>Category</h2>
		<div class="panel-group category-products" id="accordian"><!--category-productsr-->
			<div style="display:none;" class="panel panel-default" id="one-Cateid">
				<div class="panel-heading">
					<b><h4 class="panel-title" id="text-Cateid"><a href=""></a></h4></b>
				</div>
			</div>
		</div><!--/category-products-->
					
		<script>
			$(document).ready(function(e){
				var actionUrl = '/category/GetAll';
			$.ajax({
				url: actionUrl,
					type: "GET",
					success: function (result) {
						console.log(result);
						var str = document.getElementById('one-Cateid').outerHTML;
                        console.log(str);
						for (var i = 0; i < result.length; i++){
                            id = result[i]['id'];
                            name = result[i]['name'];
							cpy = str.replaceAll('Cateid', '' + id);
							$('#accordian').append(cpy);
							$('#one-' + id).css('display','block')
                            $('#text-' + id)
								.find('a')
								.attr('href', '/product/category/' + id)
								.text(name)
								.css('color','black');
						}
					},
					error: function (xhr, textStatus, error) {
						console.log(xhr.statusText);
						console.log(textStatus);
						console.log(error);
					}
				});
			})
		</script>			
		<div class="price-range"><!--price-range-->
			<h2>Price Range</h2>
			<div class="well text-center">
					<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
					<b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
			</div>
		</div><!--/price-range-->
						
		<div class="shipping text-center"><!--shipping-->
			<img src="images/home/shipping.jpg" alt="" />
		</div><!--/shipping-->
					
	</div>
</div>
			