@model ECommerce.Models.ProductVM
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/atter.css" />


<div class="container">
    
    <div class="row">
        <input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
            <div style="font-size:25pt; margin-top:50px">Add new Product</div>
            <div class="controls" id="profs">
                <form class="input-append col-12 d-flex" style="flex-direction:column" method="post">
                    <div class="row d-flex align-items-baseline">
                        <div id="field" class="d-flex justify-content-center col-6" style="flex-direction:column">
                        
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="Name">Product Name:</label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="Type something" id="Name">
                            </div>

                            <div class="form-group">
                              <label for="Description" class="form-label mt-4">Product Description:</label>
                              <textarea asp-for="Description" class="form-control" id="Description" rows="4" placeholder="Type about the product"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="Price">Product Price:</label>
                                <input asp-for="Price" type="number" class="form-control" min="1"  
                                    placeholder="bigger than 0" id="Price">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="Quantity">Product Quantity:</label>
                                <input  asp-for="Quantity" type="number" class="form-control" min="0"  
                                    placeholder="bigger than 0" id="Quantity">
                            </div>
                             <div class="form-group">
                                 <label class="col-form-label mt-4" for="PriceIsInteger">Is Price Integer?</label>
                                   <input  asp-for="PriceIsInteger" type="checkbox"  id="Quantity">
                                </div>
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="Unit">Product Unit:</label>
                                <input asp-for="Unit" type="text" class="form-control" placeholder="like item,piece,etc" id="Unit">
                            </div>
                        
                            <div class="form-group" id="image_input">
                            @Html.Label("ImageUrl","Product Image:", new { @class = "col-form-label mt-4"})  
                            <input name="uploadFile" type="file" id="Image_url"
                                   class="form-control add_file_btn" hidden>
                            <div class="d-flex align-items-center">
                                <div id='image' class="btn btn-outline-primary rounded">Select File</div>
                                <div id='val' class="ml-4"></div>
                            </div>
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="submit" class="btn btn-primary rounded submit_btn mt-3"/>
                            </div>
                        </div>
                        
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>

