@model ECommerce.Models.CategoryVM

@{
    ViewData["Title"] = "Home Page";
}
<style>
    * {
        .border-radius(0) !important;
    }

    #field,.margin_b {
        margin-bottom: 10px;
    }

    .submit_btn{
        width: 150px !important;
        font-size: 16pt;
    }
</style>
<script>
    $(document).ready(function() {
         
        $('#image_input').find('#image').click(function(){
            $("#image_input input[type='file']").trigger('click');
        })

        $("#image_input").find("input[type='file']").change(function(){
           $('#image_input #val').text(this.value.replace(/C:\\fakepath\\/i, ''))
        })    
    })    


</script>

<div class="container">
    
    <div class="row">
        <input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
            <div style="font-size:25pt; margin-top:50px">Add new Category</div>
            <div class="controls" id="profs">
                @*asp-controller="" asp-action=""
                    asp-route="" asp-route-returnurl= ""*@
                <form class="input-append col-6" method="post" asp-asp-controller="Category" asp-action="Create">
                    <div id="field" class="d-flex justify-content-center" style="flex-direction:column">
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="Name">Category Name:</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Type something" id="Name">
                        </div>
                        <div class="form-group">
                            <label for="Description" class="form-label mt-4">Category Description:</label>
                            <textarea asp-for="Description" class="form-control" id="Description" rows="4"></textarea>
                        </div>
                        <div class="form-group" id="image_input">
                            <label for="Image_url" class="form-label mt-4">Product Image:</label>
                            <input hidden class="form-control add_file_btn" type="file" id="Image_url" name="uploadFile">
                            <div class="d-flex align-items-center">
                            <div id='image' class="btn btn-outline-primary rounded">Select File</div>
                            <div id='val' class="ml-4"></div>
                            </div>
                        </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="submit" class="btn btn-primary rounded submit_btn mt-3"/>
                    </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
